<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.sdpd">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Interestify!"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddInterests"
            android:parentActivityName=".navigatory">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".navigatory" />
        </activity>
        <activity
            android:name=".SearchPeople"
            android:parentActivityName=".navigatory">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".navigatory" />
        </activity>
        <activity
            android:name=".SignedIn"
            android:label="@string/title_activity_signed_in"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignupActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".AddEvent"
            android:parentActivityName=".navigatory">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".navigatory" />
        </activity>
        <activity
            android:name=".notifications"
            android:parentActivityName=".navigatory">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".navigatory" />
        </activity>
        <activity
            android:name=".navigatory"
            android:parentActivityName=".navigatory">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".navigatory" />
        </activity>
        <activity android:name=".AddKeywords">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AddInterests" />
        </activity>

        <service
            android:name=".NotificationService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>